:host {
  .recipe-edit {
    &__buttons {
      button:nth-child(2) {
        margin-left: 10px;
      }
    }

    &__ingredient-item {
      margin: 5px 0;
    }
  }

  input.ng-invalid, textarea.ng-invalid {
    border: 1px solid #913131;
  }
}
